<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352545969571-h8nsd0o4k9kee8sr4bd5rfn8stdiq6gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352545969571-h8nsd0o4k9kee8sr4bd5rfn8stdiq6gn</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Z5i2i8yTkFGAdJSXQ85_qfT8LleQggQ</string>
	<key>GCM_SENDER_ID</key>
	<string>352545969571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.0801momiji.MyLoseApp</string>
	<key>PROJECT_ID</key>
	<string>ios-lost-animal</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-lost-animal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352545969571:ios:1e50df8e00a12a84047616</string>
	<key>DATABASE_URL</key>
	<string>https://ios-lost-animal.firebaseio.com</string>
</dict>
</plist>